<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="shoppingListEditForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="shoppingListEditFormName">Name</label>
          <input
            type="text"
            id="shoppingListEditFormName"
            class="form-control"
            formControlName="shopping_list_edit_form_name"
            >
        </div>
        <div class="col-sm-2 form-group">
            <label for="shoppingListEditFormAmount">Amount</label>
            <input
              type="number"
              id="shoppingListEditFormAmount"
              class="form-control"
              formControlName="shopping_list_edit_form_amount"
            >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!formIsValid()"
          >
            {{ editMode ? 'Update' : 'Add' }}
          </button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onClear()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
